*.yaml
*.yml
*.ign
01_vpc.py
02_infra.py
03_security.py
04_bootstrap.py
05_control_plane.py
06_worker.py
openshift-install
service-account-key.json
.openshift_install.log
.openshift_install_state.json
auth/
metadata.json
